
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    
   }

    main{
       flex-grow: 1;
   }

   .navbar.navbar-expand-lg.bg-light .navbar-custom {
        background-color: #12475e !important;
   }   