{% extends 'base.html' %}

{% block title %}Detalle del inmueble{% endblock %}
{% load static %}
{% block content %}
<h2 class ="text-center mb-4 mt-4">Detalle del inmueble</h2>
<div class="container d-flex justify-content-center">
    <div class="card mt-8" style="width: 18rem;">
        <img class="card-img-top" src="/media/{{inmueble.imagen}}">
        <div class="card-body">
          <h5 class="card-title">{{inmueble.nombre}}</h5>
          <p class="card-text">{{inmueble.descripcion}}</p>
          <p class="card-text">{{inmueble.direccion}}</p>
          <p class="card-text">{{inmueble.comuna}}</p>
          <p class="card-text">{{inmueble.propietario}}</p>
          <p class="card-text">$ {{inmueble.precio}}</p>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
    {% if user.usuario.tipo_usuario == 'arrendatario' %}
    <a href="{% url 'generar_solicitud_arriendo' inmueble.id %}">Generar Solicitud de Arriendo</a>
    {% endif %}

    {% if user.usuario.tipo_usuario == 'arrendador' %}
    <a href="{% url 'editar_inmueble' inmueble.id %}" onclick="return confirm('¿editar?');">editar Inmueble</a>
    <a href="{% url 'eliminar_inmueble' inmueble.id %}" onclick="return confirm('¿quieres eliminar?');">eliminar Inmueble</a>
    {% endif %}
  </div>
{% endblock %}