{% extends 'base.html' %}

{% block title %}Solicitar Arriendo{% endblock %}
{% load static %}
{% block content %}
<section id="generar_solicitud_arriendo" class="container p-5 d-flex justify-content-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card"> 
            <h1>Generar Solicitud de Arriendo</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar Solicitud</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}