{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}
{% load static %}
{% block content %}
    <h2 class = "text-center mt-4">Bienvenido a OnlyDepas!</h2>
    <p class = "text-center mt-4"> ¡Encuentre el hogar de sus sueños!</p>
    <section class="container mx-auto pt-5">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for inm in inmuebles %}
          <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="media/{{inm.imagen}}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ inm.nombre }}</h5>
                <p class="card-text text-justify">
                    {% if inm.descripcion|length > 15 %}
                        {{ inm.descripcion|slice:"15" }}... <a href="">descripcion</a>
                    {% else %}
                        {{ inm.descripcion}}
                    {% endif %}
                </p>
                <p class="card-text text-justify"> $ {{inm.precio}}</p>
            </div>
              <div class="card-footer">
                <a href="{% url 'detalle' inm.id %}">detalle del inmueble</a>
              </div>
            </div>
          </div>
        {% endfor %}  
      </div>
    </section>
{% endblock %}